@import url('https://fonts.googleapis.com/css2?family=Allura&family=Noto+Sans+KR:wght@400;700&family=Noto+Serif+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* banner */
#banner {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('../images/bg.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

/* 네비게이션 */
.navbar {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100%;
}

/* 메뉴 */
.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #222;
    font-size: 20px;
}

.navbar ul li a::after {
    content:"";
    width: 0;
    height: 2px;
    background-color: #ff501b;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}

.navbar ul li a:hover::after {
    width: 100%;
}

/* 헤딩 텍스트 */
.heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.heading h2 {
    font-family: 'Allura', cursive;
    font-size: 92px;
    text-shadow: 1px 1px 2px #222;
    letter-spacing: 5px;
}

.heading p {
    font-family: 'Noto Serif KR', serif;
    font-size: 20px;
    line-height: 2;
    margin: 40px auto;
}

.buttons {
    margin-top: 20px;
}

.heading button {
    width: 200px;
    padding: 15px 30px;
    margin: 0 15px;
    border-radius: 30px;
    border: 1px solid #fff;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

.heading button a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.heading button > span {
    width: 0;
    height: 100%;
    background-color: #ff501b;
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.4s;
}

.heading button:hover span {
    width: 100%;
}

.heading button:hover {
    border: none;
}

/* 미디어 쿼리 */
@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
    }

    .logo {
        width: 60px;
    }

    .navbar ul li {
        margin: 0 5px;
    }

    .navbar ul li a {
        font-size: 14px;
    }

    .heading h2 {
        font-size: 60px;
    }
    
    .heading p {
        font-size: 16px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .buttons button a {
        font-size: 16px;
    }
}

/* 객실 보기 */
#browsing {
    width: 100%;
}

.title-text {
    width: 45%;
    margin: 80px auto 20px auto;
    text-align: center;
}

.title-text h2 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #666;
}

.title-text p {
    font-size: 20px;
    color: #aaa;
    margin-bottom: 20px;
}

.guestrooms {
    width: 60%;
    margin: 40px auto;
}

.room {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    padding: 20px;
    margin-bottom: 30px;
}

.room-img {
    flex-basis: 50%;
}

.room-img img {
    width: 100%;
    border-radius: 10px;
}

.room-desc {
    flex-basis: 50%;
    padding-left: 40px;
    padding-right: 20px;
}

.room-desc h3 {
    font-size: 28px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.room-desc p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.room-desc button {
    font-size: 18px;
    font-weight: bold;
    border: 0;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 34px;
    cursor: pointer;
}

/* 미디어 쿼리 */
@media screen and (max-width: 768px) {
    .title-text h2 {
        font-size: 30px;
    }
    
    .title-text p {
        font-size: 18px;
    }

    .guestrooms {
        width: 90%;
        margin: 20px auto;
    }

    .room {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .room-img {
        flex-basis: 100%;
    }

    .room-desc {
        flex-basis: 100%;
    }

    .room-desc h3 {
        font-size: 18px;
    }
    
    .room-desc p {
        font-size: 14px;
    }

    .room-desc button {
        font-size: 14px;
    }
}

/* 호텔 시설 */
#facilities {
    width: 100%;
}

.around-place {
    width: 60%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.place {
    flex-basis: 48%;
    position: relative;
}

.place img {
    width: 100%;
}

.place-desc {
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.8s;
}

.place-desc h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.place-desc p {
    font-size: 17px;
    margin-bottom: 10px;
}

.place-desc hr {
    margin: 15px auto;
    width: 60%;
}

.over {
    width: 100%;
    height: calc(100% - 5px);
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 80, 27, 0.9));
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.8s;
}

.place:hover .place-desc {
    bottom: 23%;
    opacity: 1;
}

.place:hover .over {
    opacity: 1;
}

/* 미디어 쿼리 */
@media screen and (max-width: 768px) {
    .around-place {
        width: 90%;
    }

    .place {
        flex-basis: 100%;
    }

    .place-desc h3 {
        font-size: 20px;
    }
    
    .place-desc p {
        font-size: 14px;
    }
}

/* 여가 시간 즐기기 */
#travel {
    width: 100%;
}

.travel-list {
    width: 60%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.travel-card {
    flex-basis: 33%;
    padding-bottom: 20px;
    text-align: center;
}

.travel-card a {
    text-decoration: none;
    color: #222;
}

.travel-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
}

.travel-card p {
    font-size: 20px;
    text-align: center;
}

/* 미디어 쿼리 */
@media screen and (max-width: 768px) {
    .travel-list {
        width: 100%;
    }

    .travel-card img {
        width: 90px;
        height: 90px;
    }

    .travel-card p {
        font-size: 14px;
    }
}