* {
  margin:0;
  padding:0;
}
body {
  height:100vh;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  background: url('../images/bg.jpg') no-repeat left center fixed;
  background-size: cover;
}

#container{
  margin-right: 15%;
  padding:20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: white;
}
#container div {
  margin:10px;
}
#today {
  font-size:2.2em;
}
#clock {
  font-size:2em;
}