* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;  
  margin: 20px auto;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.buttons button {
  width: 100px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
}
button.active {
  background-color: #222;
  color: #fff;
}

.pics {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.pics img {
  width: 30%;
}